main {
  padding: 76px 164px;
  background: var(--Background);
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media only screen and (max-width: 1000px) {
    padding: 64px 100px;
  }
  @media only screen and (max-width: 800px) {
    padding: 50px 75px;
  }
  @media only screen and (max-width: 600px) {
    padding: 32px 48px;
    gap: 64px;
  }
  @media only screen and (max-width: 450px) {
    padding: 28px 24px;
  }
}
